.header{
  background-color: #B03C18;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 120px;
  position: fixed;
  top: 0;
  width: 100%;
}

.header>span{
  color: white;
  font-size: 20pt;
  font-weight: bold;
  user-select: none;
}